<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="fondo">
    <div class="card">
      <ion-text class="fondo-texto">
        <h2>¿Problemas con tu cuenta?</h2>
        <p>Ingresa tu correo y te enviaremos un código de seguridad.</p>
      </ion-text>

      <ion-item>
        <ion-label class="text" position="floating">Correo</ion-label>
        <ion-input class="text" type="email" [(ngModel)]="correo"></ion-input>
      </ion-item>

      <ion-button class="enviar-button" expand="block" (click)="enviarCodigo()">Enviar código</ion-button>
    </div>
  </div>
</ion-content>
