<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="boton-cancelar" (click)="cerrar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title class="titulo">Modificar Stock</ion-title>
    <ion-buttons slot="end">
      <ion-button class="boton" expand="block" (click)="guardar()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="fondo">
  <div class="card">
  <ion-item>
    <ion-label position="stacked">Pieza</ion-label>
    <ion-text>{{ pieza.nombre }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Stock actual</ion-label>
    <ion-text>{{ pieza.cantidad }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nueva cantidad</ion-label>
    <ion-input type="number" [(ngModel)]="cantidad" [step]="1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Tipo de movimiento</ion-label>
    <ion-select [(ngModel)]="id_tipo_movimiento" placeholder="Seleccione">
      <ion-select-option *ngFor="let t of tiposMovimiento" [value]="t.id_tipo_movimiento">
        {{ t.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Observaciones (opcional)</ion-label>
    <ion-textarea [(ngModel)]="observaciones"></ion-textarea>
  </ion-item>
  </div>
  </div>
</ion-content>
