.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card{
    background-color: #ffffff;
    padding: 30px 20px;
    width: 90%;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: black;
}

.text{
    color: black;
}

.verificar-button{
    --background: #0025f1;
    color: #fff;
    margin-top: 15px;
}