<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="fondo">
    <div class="card">
      <ion-text>
        <h2>Ingresa el código</h2>
        <p>Revisa tu correo y escribe el código de 6 dígitos que te enviamos.</p>
      </ion-text>

      <ion-item>
        <ion-label class="text" position="floating">Código de verificación</ion-label>
        <ion-input type="text" maxlength="6" [(ngModel)]="codigoIngresado"></ion-input>
      </ion-item>

        <ion-button class="verificar-button" expand="block" (click)="verificarCodigo()">Verificar</ion-button>
    </div>
  </div>
</ion-content>
