.titulo{
    text-align: center;
    left: 0;
    right: 0;
    padding-bottom: 5px ;
    margin: 0 auto;
    pointer-events: none;
}

.fondo{
    background-size: cover;
    background-color: #5b607a;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

.card{
    background-color: #ffffff;
    padding: 10px 20px;
    width: 70%;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.vencidas{
    background-color: #ff0000;
}

.bajo-stock{
    background-color: orange;
}

.texto{
    margin: 10px;
    color: rgb(77, 76, 76);
}

.boton-cerrar{
    --background: #ff0000;
    color: #fff;
    margin: 15px;
}