<ion-header>
  <ion-toolbar>
    <ion-title>Bodegas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirModalAgregar()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let bodega of bodegas">
      <ion-label>
        <h2>{{ bodega.nombre }}</h2>
        <p>{{ bodega.direccion }} - {{ bodega.nombre_comuna }} ({{ bodega.nombre_region }})</p>
      </ion-label>
      <ion-button fill="clear" color="warning" (click)="abrirModalEditar(bodega)">Editar</ion-button>
      <ion-button fill="clear" color="danger" (click)="eliminar(bodega)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
