<ion-header [translucent]="true">
</ion-header>

<ion-content>
  <div class="fondo">
  <div class="login-card">
    <img src="/assets/img/logo_clean.png" alt="Logo" class="logo" />

    <form (ngSubmit)="loginUsuario()" #loginForm="ngForm" novalidate>
      <ion-item class="custom-input">
        <ion-label position="floating">Correo</ion-label>
        <ion-input
          type="email"
          name="correoNickname"
          [(ngModel)]="correoNickname"
          required
        ></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          name="contrasena"
          [(ngModel)]="contrasena"
          required
        ></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-button" [disabled]="!loginForm.form.valid">
        INICIAR SESIÓN
      </ion-button>
    </form>

    <div class="ion-text-center ion-padding-top">
      <a (click)="irPagina()">¿Problemas con tu cuenta?</a>
    </div>
  </div>
  </div>
</ion-content>

