<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-home"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Kits</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirModalAgregar()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
  <div class="card">
  <ion-list>
    <ion-item *ngFor="let kit of kits" [color]="kit.estado ? '' : 'light'">
      <ion-label>
        <h2>ID {{kit.id_kit}} : {{ kit.nombre }}</h2>
        <p>{{ kit.descripcion }}</p>
        <p *ngIf="!kit.estado" style="color: red;">[INACTIVO]</p>
      </ion-label>
      <ion-button fill="solid" color="warning" slot="end" (click)="presentActionSheet(kit)">
        Más acciones
      </ion-button>
    </ion-item>

    <ion-item *ngIf="kits.length === 0">
      <ion-label>No hay kits registrados.</ion-label>
    </ion-item>
  </ion-list>
  </div>
  </div>
</ion-content>
