<ion-header>
  <ion-toolbar>
    <ion-title>Ver Kit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [value]="kit?.nombre" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea [value]="kit?.descripcion" disabled auto-grow="true"></ion-textarea>
    </ion-item>


  </ion-list>
</ion-content>
