<ion-header>
  <ion-toolbar>
    <ion-title>Editar cantidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <!-- Combo deshabilitado con pieza -->
    <ion-item>
      <ion-label position="stacked">Pieza</ion-label>
      <ion-select [value]="id_pieza" disabled>
        <ion-select-option *ngFor="let p of piezasDisponibles" [value]="p.id_pieza">
          {{ p.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Cantidad -->
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="cantidad"></ion-input>
      <ion-button fill="clear" slot="end" (click)="clearCantidad()">
        <ion-icon name="trash-bin" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="errores.cantidad">
      <p class="ion-padding-start">{{ errores.cantidad }}</p>
    </ion-text>

    <ion-button expand="block" color="primary" (click)="guardar()">Guardar cambios</ion-button>

  </ion-list>
</ion-content>
