<ion-header>
  <ion-toolbar class="fondo-nav">
    <ion-buttons slot="start">
      <ion-button class="boton-cerrar" expand="full" (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title class="titulo">Agregar Almacén</ion-title>
    <ion-buttons slot="end">
      <ion-button class="boton" expand="full" (click)="guardar()">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
  <div class="card">
  <ion-list class="fondo-lista">
    <ion-item class="item">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
      <ion-button fill="outline" slot="end" (click)="clearName()">
          <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
        </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="nombreError">
      <p class="ion-padding-start">{{ nombreError }}</p>
    </ion-text>

    <ion-item class="item">
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="direccion"></ion-input>
      <ion-button fill="outline" slot="end" (click)="clearDir()">
          <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
        </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="direccionError">
      <p class="ion-padding-start">{{ direccionError }}</p>
    </ion-text>

    <ion-item class="item">
      <ion-label>Región</ion-label>
      <ion-select [(ngModel)]="id_region" (ionChange)="onRegionChange()">
        <ion-select-option *ngFor="let r of regiones" [value]="r.id_region">{{ r.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="errorRegion">
      <p class="ion-padding-start">{{ errorRegion }}</p>
    </ion-text>

    <ion-item class="item">
      <ion-label>Comuna</ion-label>
      <ion-select [(ngModel)]="id_comuna">
        <ion-select-option *ngFor="let c of comunas" [value]="c.id_comuna">{{ c.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="errorComuna">
      <p class="ion-padding-start">{{ errorComuna }}</p>
    </ion-text>

  </ion-list>
  </div>
  </div>
</ion-content>
