<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="boton-cerrar" (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title class="titulo">Editar Kit</ion-title>
    <ion-buttons slot="end">
      <ion-button class="boton-guardar" expand="block" (click)="guardar()">Guardar Cambios</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
  <div class="card">
  <ion-list class="fondo-lista">
    <!-- Nombre -->
    <ion-item class="item">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
      <ion-button fill="clear" slot="end" (click)="clearNombre()">
        <ion-icon name="trash-bin" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="errores.nombre">
      <p class="ion-padding-start">{{ errores.nombre }}</p>
    </ion-text>

    <!-- Descripción -->
    <ion-item class="item">
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea rows="4" [(ngModel)]="descripcion"></ion-textarea>
      <ion-button fill="clear" slot="end" (click)="clearDescripcion()">
        <ion-icon name="trash-bin" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="errores.descripcion">
      <p class="ion-padding-start">{{ errores.descripcion }}</p>
    </ion-text>

  </ion-list>
  </div>
  </div>
</ion-content>
