<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="fondo">
    <div class="recuperacion-card">
      <ion-text>
        <h2>Restablecer Contraseña</h2>
        <p>Ingresa tu nueva contraseña y confírmala.</p>
      </ion-text>

      <ion-item>
        <ion-label class="text" position="floating">Nueva contraseña</ion-label>
        <ion-input class="text" type="password" [(ngModel)]="nuevaContrasena"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="text" position="floating">Confirmar contraseña</ion-label>
        <ion-input class="text" type="password" [(ngModel)]="confirmarContrasena"></ion-input>
      </ion-item>

      <ion-button class="contraseña-button" expand="block" (click)="cambiarContrasena()">Cambiar contraseña</ion-button>
    </div>
  </div>
</ion-content>
