.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.recuperacion-card{
    background-color: #9cecf0;
    padding: 30px 20px;
    width: 90%;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: black;
}

.text{
    color: black;
}

