<ion-split-pane contentId="main-content">
  <ion-menu class="menu" side="start" menuId="adminMenu" contentId="main-content">
    <ion-header>
      <ion-toolbar class="a">
        <img class="icono-perfil" src="assets/img/logo_clean.png" alt="Logo" />
        <ion-title>{{ usuario?.p_nombre }} {{ usuario?.a_paterno }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-list-header>
          <ion-label> Herramientas De Gestión</ion-label>
        </ion-list-header>
        <ion-item class="item" routerLink="/usuarios">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>Usuarios</ion-label>
        </ion-item>

        <ion-item class="item" routerLink="/list-bodega">
          <ion-icon slot="start" name="business-outline"></ion-icon>
          <ion-label>Bodegas</ion-label>
        </ion-item>

        <ion-item class="item" routerLink="/list-piezas">
          <ion-icon slot="start" name="hardware-chip-outline"></ion-icon>
          <ion-label>Piezas</ion-label>
        </ion-item>

        <ion-item class="item" routerLink="/list-kits">
          <ion-icon slot="start" name="cube-outline"></ion-icon>
          <ion-label>Kits</ion-label>
        </ion-item>
      </ion-list>
      
        <ion-item routerLink="/proyectos">
    <ion-icon slot="start" name="briefcase-outline"></ion-icon>
    <ion-label>Proyectos</ion-label>
  </ion-item>

      <ion-button expand="full" color="danger" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Salir
      </ion-button>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
