<ion-split-pane contentId="main-content">
  <ion-menu side="start" menuId="adminMenu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{ usuario?.p_nombre }} {{ usuario?.a_paterno }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/usuarios">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>Usuarios</ion-label>
        </ion-item>
      </ion-list>

      <ion-button expand="full" color="danger" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Salir
      </ion-button>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
